@media screen and (max-width: 676px) {
    .header-section {
        flex-direction: column;
        padding: 25px;
        margin-left: -50px;
    }

    .container-items {
        flex-direction: column;
        gap: 15px;
    }
    .banner-section {
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
        gap: 50px;
    }
    
    .text-container{
        width: 100%;
        
    }

    #Collections{
        font-size: 30px;
    }
    .banner-image-container{
        width: 100%;
        order: 2;
    }

    .grid-container{
        min-width: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

}


/* banner-section-start-here */

