@media screen and (max-width: 676px) {
    .header-section {
        flex-direction: column;
        padding: 25px;
        margin-left: -50px;
    }

    .container-items {
        flex-direction: column;
        gap: 15px;
    }
    .banner-section {
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
        gap: 50px;
    }
    
    .text-container{
        width: 100%;
        
    }
    .banner-image-container{
        width: 100%;
        order: 2;
    }

}


/* banner-section-start-here */

