@media screen and (max-width: 676px) {
    .header-section {
        flex-direction: column;
        padding: 25px;
        margin-left: -50px;
    }

    .container-items {
        flex-direction: column;
        gap: 15px;
    }

}